# Ignore database files
*.db
*.sqlite``
*.sqlite3

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
env/
venv/

# Logs
*.log

# IDE/editor configs
.vscode/
.idea/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db